
        .text-uppercase {
            text-transform: uppercase;
        }
        .buttom {
            background-color: blue;
            color: white;
            border-radius: 10rem;
            padding: 10px 20px;
            border-style: solid;
            width: 100px;
            margin: 10;
            display: inline-block;
        }

        input {
            margin-top: 10px;
        }
